@font-face{
  font-family: 'JetBrains Mono';
  src:  url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/eot/JetBrainsMono-Regular.eot') format('embedded-opentype'),
        url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/web/woff/JetBrainsMono-Regular.woff') format('woff'),
        url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/ttf/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-font-feature-settings: "liga" on, "calt" on;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'JetBrains Mono';
  box-sizing: border-box;
}

* { 
  padding: 0; 
  margin: 0; 
}

html, body {
  min-height: 100% !important;
  height: 100%;
}

body {
	margin: 0;
}

.top-border {
	border: 8px solid black;
	position: fixed;
	width: 100%;
	top: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.div-centered {
  width: 60%;
}

.div-bordered {
	border: 4px solid black;
  padding: 3%; 
  margin-bottom: 1%;   
}

.div-about > h2 {
	margin: 0;
	margin-bottom: 1%;
}

.div-about > p {
	margin: 0;
}

.div-list {
  text-align: center;
  margin: 0;
  padding: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list > li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 10px 1%;
}

.list > li > a {
	color: inherit;
}

.list > li > a > i {
	font-size: 24px;
}

@media only screen and (max-width: 600px) {

  .div-bordered {
    border: none;
    padding: 0; 
    margin-bottom: 0;   
  }

  .div-centered {
    width: 80%;
  }

  .div-about {
    margin-bottom: 5%;
  }
}

@media only screen and (max-height: 350px) {
  
  .container {
    overflow: scroll;
    height: auto;
    margin-top: 2em;
  }

  .div-bordered {
    border: none;
    padding: 0; 
    margin-bottom: 0;   
  }

  .top-border {
    display: none;
  }
}